body {
	font-family: sans-serif;
	background-color: lightblue;
	text-align: center;
}

#um {
	float: left;
}

#dois {
	float: right;
}

p {
	text-align: left;
}

p .credibilidade {
	text-align: center;
	font-size: larger;
}

h1 {
	text-align: center;
	color: black;
}

.card {
	margin: 45px;
}

.form-select {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.form-control {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.conteudoo {
	padding: 20px;
	background-color: white;
	width: 60%;
	margin: 0 auto;
}

Table {
	background-color: white;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 4rem;
	/* Footer height */
}


#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	background-color: black;
	left: 0;
}

small {
	color: white
}
