body {
	font-family: sans-serif;
	background-color: lightblue;
	text-align: center;
}

#dois {
	float: right;
}

p {
	text-align: center;
}

h1 {
	text-align: center;
}

.card {
	margin: 0 auto;
	float: center;
	margin: 60px;
}

.form-control {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.conteudoo {
	padding: 20px;
	background-color:white;
	width: 60%;
	margin: 0 auto;
}
